@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Acme%7CArvo%7CNoto+Sans+KR%7CPoppins');

#inicio {
 visibility: visible;
}

#pagcifrar {
 display: none;
}

#pagdescifrar {
 display: none;
}

* {box-sizing: border-box;}

body {
background-image: url(posiblefondo.gif);
text-align: center;
}

.header {
overflow: hidden;
background: rgba(0,0,0,0.5);
color: #fff;
padding: 20px 10px;
font-family: 'Roboto',sans-serif;
color: #fff;
}

.header a {
float: left;
color: black;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}

.header a.logo {
font-size: 40px;
font-weight: bold;
color: #fff;
}

.header a:hover {
background-color: #ddd;
color: black;
}

.header a.active {
background-color: dodgerblue;
color: white;
}

.header-right {
float: right;
}

#contenido {
 margin-top: 85px;
}

h1 {
font-size: 50px;
font-family: 'Poppins',sans-serif;
font-weight: bold;
vertical-align: inherit;
color: white;
text-align: center;
}

.t2 {
font-size: 30px;
font-family: 'Poppins',sans-serif;
color: white;
text-align: center;
}

p {
font-family: 'Kalam',sans-serif;
font-size: 20px;
color: white;
text-align: center;
}

.btn {
border: none;
background: #74E085;
color: #f2f2f2;
padding: 10px;
font-size: 18px;
border-radius: 20px;
position: relative;
box-sizing: border-box;
transition: all 500ms ease;
text-align: center;
}

button:hover {
cursor: pointer;
}

body {
 margin: 0;
 padding: 0;
}

.box {
 background: rgba(0,0,0,0.5);
 color: #fff;
 top:50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 margin: auto;
 width: 60%;
 max-width: 500px;
 padding: 20px;
}

.transparencia {
 background: rgba(0,0,0,0.5);
 color: #fff;
}

h3 {
 margin:0;
 padding: 0 0 30px;
 text-align: center;
 margin-bottom: 20px;
 font-family: 'Acme', sans-serif;
 color: white;
 font-size: 30px;
}

textarea {
 resize: vertical;
 max-height: 300px;
 min-height: 100px;
 margin-bottom: 20px;
 width: 100%;
 padding: 10px;
 box-sizing: border-box;
}

/*al estar el selecc color cambie*/
textarea:hover, input:hover{
 border: 2px solid #70c52e;
}

label {
 font-family: 'Poppins',sans-serif;
 font-size: 15px;
 color: white;
}

input {
border: 1px solid #8bce57;
text-align: center;
width: 200px;
height:30px;
}

/*botones alin*/
#cifrar, #descifrar {
 margin-left: 10px;
width: 80px;
height: 30px;
cursor: pointer;
margin-top: 20px;
text-align: center;
}

/*para que al pasar el mouse se torne el borde de un dif.color*/
input:focus, textarea:focus {
border: 2px solid #1668C4;
}
